

 <!-- left Sidebar -->
<div class="sidebar bg-light">
        <!-- More sidebar items -->
        <br />
        <h3>Achievements</h3>
        <!-- You can loop through user's achievements and display them as cards -->
        {{#if achievements.length}}
        <div class="card">
            {{#each achievements}}
            <div class="card-body mb-3"> <!-- Added mb-3 class for margin-bottom -->
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}}</p>
                <p class="card-text">Type: {{this.type}}</p>
                {{!-- <p class="card-text">Goal: {{this.goal}} {{this.unitOfWorkout}}</p> --}}
            </div>
            {{/each}}
        </div>
        {{/if}}
</div>

    <!-- Main Content Area -->
    <div class="content">
        <!-- Workout logs displayed like stories -->
        <section class="mt-4">
        <h2>Profile: {{user.firstName}} {{user.lastName}}</h2> 
        <h2>All Workouts</h2>
        <div class="list-group">
            {{#each user.workouts}}
            {{!-- <a href="/profile/{{this.userID}}" class="list-group-item list-group-item-action flex-column align-items-start"> --}}
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <h6>{{this.title}}</h6>
                        <p>{{this.type}} - {{this.duration}} mins</p>
                        <p>Total: {{this.amountOfWorkout}} {{this.unitOfWorkout}}</p>
                    </div>
                    <div>Share:<a href="mailto:{{this.creatorEmail}}"><img src="/img/email-icon.png" alt="email icon" style="width:50px; height: 50px"></a></div>
                    <small>Posted on: {{this.date}}</small> <!-- Ensure you have a dateFormat helper -->
                </div>
            </a>
            {{/each}}
        </div>
    </section>
<div class = "right-sidebar">
    <div class="lifter-container">
        <img src="../../img/lifter.png" alt="cartoon lifter">
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.7.12/umd.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
